@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500&display=swap');

* {
    font-family: Jost, "sans-serif";
}

.hero{
    background: url("./assets/hero-image.png") no-repeat center;
    background-color: #EBEEEE;
}

@media (max-width: 1020px){
    .hero{
        background: url("https://cdn.shopify.com/s/files/1/0421/6153/7180/files/slide-mobile-3.png?v=1606981070") no-repeat center;
        background-color: #EBEEEE;
        width: 100%;
    }
}

.navbar{
    background-color: #EBEEEE;
}

.nav-links select{
    background-color: #EBEEEE;
}

.accessory-image-hover{
    @apply mb-5 hover:scale-110 transition-all duration-300 drop-shadow-xl
}